.doctor-wrapper{
  padding-top: 40px;
  margin-top: -40px;
  h3{
    font-size: 38px;
  }
  p{
    font-size: 25px;
  }
  .card-a{
    text-align: center;
    height: 75vh;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 2%;
    .card-a-box{
      border-radius: 3px;
      width: 50%;
      height: auto;
      border: 1px solid rgba(255,255,255,0.4);
      position: absolute;
      right: 4%;
      background-color: rgba(255,255,255,0.85);
      font-family: 'Lato', sans-serif;
      padding: 2%;
      padding-right: 4%;
      padding-bottom: 5%;
      .card-a-title{
        margin-bottom: 40.5px;
        font-size: 42px;
      }
      .card-a-text{
        margin-left: 9%;
        p{
          font-family: 'Roboto', sans-serif;
          opacity: 0.8;
          font-weight: lighter;
          text-align: left;
        }}
        .card-a-image{
          margin-right: 5%
        }
      }
    }

    .card-b{
      text-align: center;
      height: 75vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-top: 2% !important;
      border: 1px solid white;
      background-size: 130%;
      background-position: left;
      .card-b-box{
        border-radius: 3px;
        width: 45%;
        height: auto;
        border: 1px solid rgba(255,255,255,0.4);
        position: absolute;
        left: 4%;
        background-color: rgba(255,255,255,0.85);
        font-family: 'Lato', sans-serif;
        padding: 2%;
        padding-right: 4%;
        padding-bottom: 5%;
        h3 {
          font-family: 'Lato', sans-serif;
          margin-bottom: 40.5px;
          font-size: 42px;
        }
        p {
          font-family: 'Roboto', sans-serif;
          opacity: 0.8;
          font-weight: lighter;
          text-align: left;
        }
        li{
          font-family: 'Roboto', sans-serif;
          font-size: 1.1em;
          opacity: 0.8;
          font-weight: lighter;
          text-align: left;
        }
      }
    }

    .card-c{
      text-align: center;
      height: 80vh;
      background-size: cover !important;
      display: flex;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-top: 2%;
      border: 1px solid white;
      padding: 4%;
      .card-c-content{
        text-align: center;
        padding: 25px;
        h2{
          margin-bottom: 6%;
        }

        .benefitsss-icons{
          padding: 2%;

          p{
            font-family: 'Roboto', sans-serif;
            opacity: 0.8;
            font-weight: lighter;
            text-align: left;
          }
          #reveal1{
            margin-bottom: 6px;
          }
        }
      }
    }
  }


