.sign-in-form {
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
  }
}
#form {
  text-align: center;
  background-color: #FEFEFE;
  border-radius: 5px;
  width: 50%;
  height: 50vh;
  padding: 30px 50px;
  margin: 50px 70px;
}
