.show-div {
  position: relative;
  height: calc(100vh - 70px);
  width: 99vw;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  div {
    margin: 5px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 3px;
  }
  .left-side {
    position: absolute;
    height: 100%;
    width: 20%;
    padding: 5px 10px;
  }

  .right-side {
    padding: 5px 10px;
    position: absolute;
    right: 0;
    height: 100%;
    width: 20%;
  }

  .chatroom {
    display: block;
    margin: 0;
    padding: 0;
    background-color: transparent;

    .input {
      display: flex;
      padding: 0;

      form {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
      }

      #content {
        padding: 10px 10px 10px 15px;
        vertical-align: center;
        font-size: 18px;
        max-width: 90%;
        flex: 1 0 auto !important;
        height: 100%;
        display: inline;
        border: none;
        box-shadow: none;
      }

      .send {
        margin-bottom: 5px;
        padding: 0;
        font-size: 30px;
        flex: 0 1 10%;
        height: 100%;
        background: white;
        transition: all 0.3s ease;
      }

      .send.doctor {
        &:hover {
          color: $doctor;
        }
      }

      .send.patient {
        &:hover {
          color: $patient;
        }
      }
    }
    .body {
      border-radius: 5px;
      background-color: white;
      height: 70vh;
      width: 100%;
      overflow: scroll;
      margin: 0px 0px 30px 0px;
      padding: 2px;
    }
  }
}

