
<div id="landing-doc" class="hidden doctor-wrapper">
  <div class="wrapper">

    <div class="card-a" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 50%), url('https://s3-eu-west-1.amazonaws.com/medi-co/Images/iphone-doctor_mockup.jpg');">
      <div class="card-a-box">
        <h3 class="card-a-title">The flexibility to practice<br> medicine anywhere</h3>
        <div class="card-a-text text-center">
          <p>Medi-co lets you connect with patients via secure messaging and document sharing from your mobile device. With Medi-co, you have the flexibility to consult anytime, anywhere -when it’s convenient for you.</p>
        </div>
      </div>
    </div>


    <div class="card-b" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 50%), url('https://s3-eu-west-1.amazonaws.com/medi-co/Images/iphone_patient_mockup.jpg');">
          <div class="card-b-box">
            <h3>A better way to connect with your patients</h3>
            <p>Instantly communicate and share with your patients on our Medi-co chat feature.</p>
            <ul>
              <li>conveniently instant message your patients</li>
              <li>securely and quickly send critical documents
              to your patients</li>
            </ul>
          </div>
     </div>



    <div class="card-c" style= "background-color: white;">
      <div class="card-c-content">
        <h2>A better way to connect with your practice</h2>

        <div class="row" style="align-items: center; display: flex;">
          <div id="reveal1" class="col-xs-12 col-sm-6 benefitsss-icons">
            <%= image_tag('https://s3-eu-west-1.amazonaws.com/medi-co/Icons/schedule_icon+2.png', :width=>110) %>
            <h4>Flexible schedule</h4>
            <p>Consult on your schedule when it’s convenient for you</p>
          </div>
          <div id="reveal2" class="col-xs-12 col-sm-6 benefitsss-icons" style="    margin-top: -4%;">
            <%= image_tag('https://s3-eu-west-1.amazonaws.com/medi-co/Icons/practice_icon+2.png', :width=>70) %>
            <h4>Grow your practice</h4>
            <p>Attract new patients and eliminate urgent care visits</p>
          </div>
        </div>

        <div class="row">
          <div id="reveal3" class="col-xs-12 col-sm-6 benefitsss-icons">
           <%= image_tag('https://s3-eu-west-1.amazonaws.com/medi-co/Icons/outdoor_icon+2.png', :width=>70) %>
           <h4>Work life balance</h4>
           <p>Free yourself from the office by treating patients virtually</p>
         </div>
         <div id="reveal4" class="col-xs-12 col-sm-6 benefitsss-icons">
          <%= image_tag('https://s3-eu-west-1.amazonaws.com/medi-co/Icons/health_care_icon.png', :width=>70) %>
          <h4>Continuity of care</h4>
          <p>More frequent check-ins with patients online</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
