<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    © Copyright 2017. All Rights Reserved.
  </div>
  <%= link_to root_path, class: "footer-logo" do %>
  <%= image_tag "https://s3-eu-west-1.amazonaws.com/medi-co/Logos/medi-co.png" %>
  <% end %>
</div>



