<div class="home-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 50%), url('https://s3-eu-west-1.amazonaws.com/medi-co/Images/temporary_landing_photo.png');">
  <div class="banner-content">
    <h1 class="text-center">Engage with your health</h1>
    <div class = "btn-content" class="text-center">
      <a href="/patient" id="btn-patient" class="btn-home">For patients</a>
      <a href="/doctor" id="btn-doctor" class="btn-home">For doctors</a>
    </div>
  </div>
</div>

