<button id="modal-click" value="" style="display: none;" data-toggle="modal" data-target="#modalSelector"></button>

<div id="modalSelector" class="modal fade" role="dialog">
 <div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Welcome to Medi-co: A Quick Tour</h4>
    </div>
    <div class="modal-body">
      <p class="left">1. Stay on top of your health by checking your profile's medication and wellness updates. </p>
      <p class="center">2. Talk to your doctor and receive essential documents and updates, using Medi-Co's chat feature.</p>
      <p class="right">3. Have more questions or concerns? Book an appointment with your doctor right from  your dashboard!</p>
    </div>
    <a href="#modalSelector1">1</a>
    <a href="#modalSelector2">2</a>
    <a href="#modalSelector3">3</a>
  </div>
</div>
</div>

<div id="modalSelector2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    Modal content
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">And this...</h4>
      </div>
      <div class="modal-body">
        <p>Some more text in the modal.</p>
      </div>
      <a href="#modalSelector1">1</a>
      <a href="#modalSelector2">2</a>
      <a href="#modalSelector3">3</a>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div> -->
</div>


