<div class="container">
  <div class="sign-in-form">
    <div id="form">
      <div>
        <h2>You are a:</h2>
      </div>
      <ul class="list list-inline" id="question">
        <li><%= link_to 'Doctor', new_doctor_registration_path, class: 'btn btn-primary btn-lg', id: 'doctor' %></li>
        <li><%= link_to 'Patient', new_patient_registration_path, class: 'btn btn-success btn-lg', id: 'patient' %></li>
      </ul>
    </div>
  </div>
</div>

