<h1>This is your list of patients</h1>
<ul class="list">
  <% @patients.each do |p| %>
    <%= link_to p do %>
      <li><%= p.first_name %>
      <%= p.last_name %></li>
    <% end %>
  <% end %>
</ul>
