<div class="show-div patient">
  <div class="left-side">
    <%= @patient.first_name %>
    <%= @patient.last_name %>
  </div>
  <div class="chatroom">
    <%= render 'messages/messages' %>
  </div>
  <div class="right-side">
    Right-side div
  </div>
</div>


