<div class="show-div patient">
  <div class="left-bar">
    <%= render 'shared/profile', locals: { user: @patient } %>
  </div>
  <div class="center-bar">
    <div class="chatroom">
    <%= render 'messages/messages' %>
    </div>
  </div>
  <div class="right-bar">

  </div>
</div>

<div class="show-div calendar">
  <%= render 'shared/calendar' %>
</div>
