<div class="show-div doctor">
  <div class="left-side">
    <%= @doctor.first_name %>
    <%= @doctor.last_name %>
  </div>
  <div class="chatroom">
    <%= render 'shared/chatroom' %>
  </div>
  <div class="right-side">
    Right-side div
  </div>
</div>
