<div class="show-div doctor">
  <div class="left-top-side">
    <%= render 'shared/profile', locals: { user: @patient } %>
  </div>
  <div class="medications-block text-center">

    medications
    <%#= render 'shared/medications', locals: { user: user } %>

  </div>

  <div class="middle-side">
    <div class="chatroom">
      <%= render 'messages/messages' %>
    </div>
  </div>

  <div class="right-side">

    <%= render 'shared/appointments', locals: { user: @patient } %>

  </div>
</div>

<%#= render partial: 'shared/unbind' %>

<script>
  $('#update').on('hidden', function (e) {
      if (e.keyCode == 13) {
        console.log('hey this is working');
        e.preventDefault();
      }
  });

  $('#invite').on('hidden', function (e) {
      if (e.keyCode == 13) {
        console.log('hey this is working');
        e.preventDefault();
      }
  });

  $('#document-form').on('hidden', function (e) {
      if (e.keyCode == 13) {
        console.log('hey this is working');
        e.preventDefault();
      }
  });
</script>
