<div class="show-div doctor">
  <div class="left-side">
    <%= render 'shared/profile', locals: { user: @patient } %>
    <% if current_class == 'patient' %>
    <div class="medications">
      medications
      <%#= render 'shared/medications', locals: { user: user } %>
    </div>
    <% else %>
    <div class="link-list">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="#">Add a Prescription</a>
        </li>
        <li class="list-group-item">
          <a href="#">Manage your appointments</a>
        </li>
        <li class="list-group-item">
          <a href="#">Search for a Medication</a>
        </li>
      </ul>
    </div>
    <% end %>
  </div>

  <div class="middle-side">
    <div class="chatroom">
      <%= render 'messages/messages' %>
    </div>
  </div>

  <div class="right-side">

    <%= render 'shared/appointments', locals: { user: @patient } %>

  </div>
</div>
