.appointments {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 3px;
  li {
    position: relative;
    padding: 10px 0px 10px 15;
    margin-bottom: 10px;
  }
  .buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    cursor: default;
  }

  .add-to-calendar {
    background-color: $doctor;
    border-color: $doctor;
  }

  .accept {
    background-color: $patient;
  }

  .reject {
    background-color: $doctor;
  }

  .accept, .reject {
    position: relative;
    display: block;
    margin: 0px;
    width: 30px;
    height: 35px;
    border: none;
    color: white;
    border-radius: 0px;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0px 0px 5px #999;
    }
  }
  .btn.patient {
    background-color: $patient;
    border-color: $patient;
  }
}

.apt-form {
  background: rgba(0, 0, 0, 0.07) !important;
  position: fixed;
}

.modal-content {
  padding: 0px 20px 30px 20px;
}

