.btn-home{
  padding: 9%;
  color: white;
  border: 1.5px solid #FF686B;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  margin-top: 72px !important;
  margin-bottom: 10%;
  text-decoration: none;
}
.banner-content{
  a:hover{
    opacity: 0.6;
    text-decoration: none;
    color: white;
  }
  .btn-home:hover{
    opacity: 0.6;
    text-decoration: none;
    color: white;
  }
}


