.btn-content{
  display: flex;

  #btn-patient{
    position: absolute;
    right: 35%;
    bottom: 15%;
    padding: 15px 25px;
    color: white;
    border: 1.5px solid #FF686B;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 1;
    a{
      text-decoration: none;
    } 
  }

  #btn-doctor{
    position: absolute;
    left: 35%;
    bottom: 15%;
    padding: 15px 25px;
    color: white;
    border: 1.5px solid #FF686B;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 1;
    a{
      text-decoration: none;
    }
  }


  .btn-home:hover{
    opacity: 0.6;
    text-decoration: none;
    color: white;
  }
}