.simple-calendar {
  .day {
    width: 10px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
     border: 2px solid #000000;
     border-radius: 100%;
  }
  .past {
  }
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {
    background-color: $patient;
  }
}
