.simple-calendar {
  max-width: 100%;
  padding: 10px 20px;

  .day {
    max-width: 8px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
     border: 2px solid #000000;
  }
  .past {
  }

  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

}

.simple-calendar.patient {
   .has-events {
    background-color: $patient;
  }
}

.simple-calendar.doctor {
   .has-events {
    background-color: $doctor;
  }
}
