.med-progress {
  position: relative;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  margin: 10px 0px !important;

  .pill {
    border: 1px solid $gray;
    overflow: hidden;
    border-radius: 1000px;
    min-width: 40px;
    min-height: 20px;
    z-index: 1;
    margin: 0px 40px 0px 0px;
    display: flex;

    ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
      width: 100%;
      display: flex;

      a {
        width: 100%;
        height: 100%;
        li {
          z-index: 1;
          margin: 0;
          padding: 0;
          height: 100%;
          border-right: 1px dashed $gray;
        }
        &:last-child li {
          border: none !important;
        }

      }
    }
  }

  .fr {
    list-style: none;
    margin: 0;
    padding: 10px;
  }

  .taken {
    background-color: $patient;
  }

  .day-pill {
      background: transparent !important;

    height: auto;
    width: auto;
    margin: 0;
    position: relative;
    .day {
      text-align: left;
      position: absolute;
      top: 0px;
      right: 20px;
      font-size: 14px;
    }
  }
}

// .med-progress::before{
//     position: absolute;
//     top: 8px;
//     content: '';
//     width: 80%;
//     height: .2em;
//     background: lighten($patient, 10%);
//     z-index: 1;
//   }
