.message-line {
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
  overflow: auto;


  .message {
    padding: 10px !important;
    margin: 10px;
    display: inline-block;
    word-wrap: break-word;
    max-width: 70%;
    padding: 5px;
    height: auto;
    background-color: white;
    border: 1px solid #DDD;
    border-radius: 20px;
    vertical-align: middle;
    p {
      margin: 0 0 5px 0;
    }
  }


  .other {
    float: left;
    border-top-left-radius: 5px;
  }

  .self {
    float: right;
    border: 0px;
    border-top-right-radius: 5px;
    color: white;
    a {
      color: white;
      text-decoration: underline;
    }
  }

  .self.patient {
    background-color: $patient;
    border-color: darken($patient, 10%);
  }

  .self.doctor {
    background-color: $doctor;
    border-color: darken($doctor, 10%);
  }

}
