.profile-dashboard {
  padding: 10px 20px 10px 20px;
  margin: 0px !important;
  .user-name {
    margin: 0;
    padding: 0;
    img {
      border-radius: 50%;
      height: 100px;
    }
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .name {
      padding: 0;
      margin-left: 15px;
      font-size: 18px;
      font-weight: 900;
    }
  }
  .link-list {
    margin: 0px;
    margin-top: 30px;
    padding: 0px !important;
    ul {
      margin: 0;
      padding: 0;
      li {
        padding: 5px 0px;
        border: none;
        color: black;
        a {
          &:hover {
            text-decoration-color: black !important;
          }
        }
      }
      #doctor {
        color: $doctor;
        a {
          &:hover {
            text-decoration-color: $doctor;
          }
        }
      }

      #patient {
        color: $patient;
        a {
           &:hover {
            text-decoration-color: $patient;
          }
        }
      }
    }
  }
}

.radio_buttons {
  display: flex;
  align-items: center;
}

.radio {
  margin: 20px 10px 20px 10px !important;
}

.flex-on {
  display: flex;
}
