.profile-dashboard {
  padding: 10px 20px 10px 20px;
  margin: 0px !important;
  .user-name {
    margin: 0;
    padding: 0;
    img {
      border-radius: 50%;
      height: 100px;
    }
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .name {
      padding: 0;
      margin-left: 15px;
      font-size: 18px;
      font-weight: 900;
    }
  }

  .link-list {
    margin: 0px;
    margin-top: 30px;
    padding: 0px !important;
    ul {
      margin: 0;
      padding: 0;
      li {
        padding: 5px 0px;
        border: none;
        color: black;
        a {
          &:hover {
            text-decoration-color: black !important;
          }
        }
      }
      #doctor {
        color: $doctor;
        a {
          &:hover {
            text-decoration-color: $doctor;
          }
        }
      }

      #patient {
        color: $patient;
        a {
           &:hover {
            text-decoration-color: $patient;
          }
        }
      }
    }
  }
}


#invite {
  text-align: center;
  flex-orientation: column;
  background-color: white;
  width: 400px;
  height: 200px;
  position: absolute;
  top: 0%;
  left: 37%;
  padding: 10px 20px;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


#update {
  .modal-dialog {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: transparent;
  }

  .modal-content {
  text-align: center;
  flex-orientation: column;
  background-color: white;
  margin-top: 100px;
  width: 400px;
  height: auto;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
    .edit_chat {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0px;
      .buttons {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .accept {
    background-color: $patient;
  }

  .reject {
    background-color: $doctor;
  }

  .accept, .reject {
    position: relative;
    display: block;
    margin: 0px;
    width: 30px;
    height: 35px;
    border: none;
    color: white;
    border-radius: 0px;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0px 0px 5px #999;
    }
}
    }

}
}
.radio_buttons {
  display: flex;
  align-items: center;
}

.radio {
  margin: 20px 10px 20px 10px !important;
}

.flex-on {
  display: flex;
}

.no-invitaions {
  height: 100%;
  align-items: center;
}

#thumbsup {
  width: 50%;
}
